<%= render 'homepage-navbar' %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="jumbotron-content">
          <h2>Find a realtor and a real estate agent with the most comprehensive directory in America.</h2>
          <form>
            <div class="form-group col-lg-6 col-lg-offset-3">
              <input type="text" class="form-control" placeholder="Search for a real estate agent by name or location">
              <button type="submit" class="btn btn-orange">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <h3>Some Information</h3>
        <p>YOLO lyft slow-carb forage. Whatever tousled gluten-free, tote bag pour-over drinking vinegar chambray intelligentsia flexitarian lo-fi photo booth synth. Kombucha tacos ethical slow-carb, retro typewriter you probably haven't heard of them man braid occupy wayfarers umami banh mi. Whatever tacos kombucha, +1 ramps cred literally kitsch small batch tofu hammock semiotics church-key tote bag taxidermy. Air plant lo-fi meggings, dreamcatcher heirloom raclette mustache kombucha. Pabst chartreuse small batch, affogato shoreditch pork belly bespoke selfies tbh forage seitan raw denim four dollar toast etsy. Plaid meh food truck lyft sriracha.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h3>Some Information</h3>
        <p>YOLO lyft slow-carb forage. Whatever tousled gluten-free, tote bag pour-over drinking vinegar chambray intelligentsia flexitarian lo-fi photo booth synth. Kombucha tacos ethical slow-carb, retro typewriter you probably haven't heard of them man braid occupy wayfarers umami banh mi. Whatever tacos kombucha, +1 ramps cred literally kitsch small batch tofu hammock semiotics church-key tote bag taxidermy. Air plant lo-fi meggings, dreamcatcher heirloom raclette mustache kombucha. Pabst chartreuse small batch, affogato shoreditch pork belly bespoke selfies tbh forage seitan raw denim four dollar toast etsy. Plaid meh food truck lyft sriracha.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h3>Some Information</h3>
        <p>YOLO lyft slow-carb forage. Whatever tousled gluten-free, tote bag pour-over drinking vinegar chambray intelligentsia flexitarian lo-fi photo booth synth. Kombucha tacos ethical slow-carb, retro typewriter you probably haven't heard of them man braid occupy wayfarers umami banh mi. Whatever tacos kombucha, +1 ramps cred literally kitsch small batch tofu hammock semiotics church-key tote bag taxidermy. Air plant lo-fi meggings, dreamcatcher heirloom raclette mustache kombucha. Pabst chartreuse small batch, affogato shoreditch pork belly bespoke selfies tbh forage seitan raw denim four dollar toast etsy. Plaid meh food truck lyft sriracha.</p>
      </div>
    </div>
  </div>
</div>
