<%= render 'layouts/navbar' %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" id="data-panel">
      <h1>Maria C Ang of Maria C Ang Broker</h1>
      <h3>Blythe, CA</h3>
    </div>
    <div class="panel-body">
      <p>Maria C Ang is a real estate agent at Maria C Ang Broker in Blythe, CA. Maria brings 15 years of experience and knowledge as a real estate agent. Maria stays up-to-date with the latest topics in real estate and in the Blythe real estate market. If you are looking for a real estate agent in Blythe, CA, contact Maria C Ang by phone at (760) 899-2905 or by email at mariaang28@yahoo.com.</p>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading" id="data-panel">
              <h4>Realtor Information</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <tr>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-user"></i>
                          </td>
                          <td class="text-center">Real Estate Agent Name:</td>
                          <td class="text-center">Maria C Ang</td>
                        </tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-briefcase"></i>
                        </td>
                        <td class="text-center">Real Estate Brokerage:</td>
                        <td class="text-center">Maria C Ang Broker</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-time"></i>
                        </td>
                        <td class="text-center">Real Estate Experience:</td>
                        <td class="text-center">15 years</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-certificate"></i>
                        </td>
                        <td class="text-center">Real Estate License Number:</td>
                        <td class="text-center">#01211370</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" id="data-panel">
              <h4>Realtor Contact Information</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </td>
                        <td class="text-center">Email:</td>
                        <td class="text-center">mariaang28@yahoo.com</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-earphone"></i>
                        </td>
                        <td class="text-center">Phone Number:</td>
                        <td class="text-center">(760) 899-2905</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-print"></i>
                        </td>
                        <td class="text-center">Fax Number:</td>
                        <td class="text-center">(760) 921-8352</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </td>
                        <td class="text-center">Address:</td>
                        <td class="text-center">155 Lee St Blythe, California 92225</td>
                      </tr>
                    </tbody>
                  </table>
                  <address>155 Lee St Blythe, California 92225</address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
