<%= render 'layouts/navbar' %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">California Realtors and Real Estate Agents</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Agent Name</th>
          <th>Brokerage</th>
          <th>Address</th>
          <th>Agent Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Maria C Ang</td>
          <td>Maria C Ang Broker</td>
          <td>155 Lee St Blythe, California 92225
          </td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Edmund Yang</td>
          <td>Cupertino Cal Tex Inc</td>
          <td>3298 Mattos Ave San Jose, California 95132</td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Maria C Ang</td>
          <td>Maria C Ang Broker</td>
          <td>155 Lee St Blythe, California 92225
          </td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Edmund Yang</td>
          <td>Cupertino Cal Tex Inc</td>
          <td>3298 Mattos Ave San Jose, California 95132</td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Maria C Ang</td>
          <td>Maria C Ang Broker</td>
          <td>155 Lee St Blythe, California 92225
          </td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Edmund Yang</td>
          <td>Cupertino Cal Tex Inc</td>
          <td>3298 Mattos Ave San Jose, California 95132</td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Maria C Ang</td>
          <td>Maria C Ang Broker</td>
          <td>155 Lee St Blythe, California 92225
          </td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Edmund Yang</td>
          <td>Cupertino Cal Tex Inc</td>
          <td>3298 Mattos Ave San Jose, California 95132</td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Maria C Ang</td>
          <td>Maria C Ang Broker</td>
          <td>155 Lee St Blythe, California 92225
          </td>
          <td><a href="#">View Details</a></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td>Edmund Yang</td>
          <td>Cupertino Cal Tex Inc</td>
          <td>3298 Mattos Ave San Jose, California 95132</td>
          <td><a href="#">View Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render 'layouts/footer' %>
