<%= render 'layouts/navbar' %>
<div class="container">
  <h1>Find A Realtor or A Real Estate Agent by States:</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div>
        <ul>
          <li><a href="/states">Alabama Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Alaska Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Arizona Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Arkansas Realtors and Real Estate Agents</a></li>
          <li><a href="/states">California Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Colorado Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Connecticut Realtors and Real Estate Agents</a></li>
          <li><a href="/states">D.C. Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Delaware Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Florida Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Georgia Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Hawaii Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Idaho Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Illinois Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Indiana Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Iowa Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Kansas Realtors and Real Estate Agents</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <ul>
          <li><a href="/states">Kentucky Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Louisiana Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Maine Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Maryland Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Massachusetts Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Michigan Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Minnesota Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Mississippi Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Missouri Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Montana Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Nebraska Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Nevada Realtors and Real Estate Agents</a></li>
          <li><a href="/states">New Hampshire Realtors and Real Estate Agents</a></li>
          <li><a href="/states">New Jersey Realtors and Real Estate Agents</a></li>
          <li><a href="/states">New Mexico Realtors and Real Estate Agents</a></li>
          <li><a href="/states">New York Realtors and Real Estate Agents</a></li>
          <li><a href="/states">North Carolina Realtors and Real Estate Agents</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <ul>
          <li><a href="/states">North Dakota Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Ohio Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Oklahoma Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Oregon Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Pennsylvania Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Rhode Island Realtors and Real Estate Agents</a></li>
          <li><a href="/states">South Carolina Realtors and Real Estate Agents</a></li>
          <li><a href="/states">South Dakota Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Tennessee Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Texas Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Utah Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Vermont Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Virginia Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Washington Realtors and Real Estate Agents</a></li>
          <li><a href="/states">West Virginia Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Wisconsin Realtors and Real Estate Agents</a></li>
          <li><a href="/states">Wyoming Realtors and Real Estate Agents</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>
<%= render 'layouts/footer' %>
