<%= render 'layouts/navbar' %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="container">
     <div class="panel panel-primary">
       <div class="panel-heading">Find A Realtor or Real Estate Agent by State:</div>
       <table class="table table-bordered">
         <tbody>
           <tr>
             <td class="text-center"><a href="#"><a href="#">Alabama Realtors and Real Estate Agents</a></a></td>
             <td class="text-center"><a href="#">Alaska Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Arizona Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Arkansas Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">California Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Colorado Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Connecticut Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">D.C. Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Delaware Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Florida Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Georgia Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Hawaii Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Idaho Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Illinois Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Indiana Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Iowa Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Kansas Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Kentucky Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Louisiana Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Maine Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Maryland Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Massachusetts Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Michigan Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Minnesota Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Mississippi Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Missouri Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Montana Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Nebraska Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Nevada Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">New Hampshire Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">New Jersey Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">New Mexico Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">New York Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">North Carolina Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">North Dakota Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Ohio Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Oklahoma Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Oregon Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Pennsylvania Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Rhode Island Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">South Carolina Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">South Dakota Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Tennessee Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Texas Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Utah Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">Vermont Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Virginia Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Washington Realtors and Real Estate Agents</a></td>
           </tr>
           <tr>
             <td class="text-center"><a href="#">West Virginia Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Wisconsin Realtors and Real Estate Agents</a></td>
             <td class="text-center"><a href="#">Wyoming Realtors and Real Estate Agents</a></td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
<%= render 'layouts/footer' %>
