<%= render 'layouts/navbar' %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Find A Realtor or Real Estate Agent by Top 50 Metro:</div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><a href="#">New York-Newark-Jersey City, NY-NJ Realtors and Real Estate Agents</a></td>
          <td><a href="#">Los Angeles-Long Beach-Anaheim, CA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Chicago-Naperville-Elgin, IL-IN-WI Realtors and Real Estate Agents</a></td>
          <td><a href="#">Dallas-Fort Worth-Arlington, TX Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Houston-The Woodlands-Sugar Land, TX Realtors and Real Estate Agents</a></td>
          <td><a href="#">Washington-Arlington-Alexandria, DC-VA-MD-WV Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Realtors and Real Estate Agents</a></td>
          <td><a href="#">Miami-Fort Lauderdale-West Palm Beach, FL Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Atlanta-Sandy Springs-Roswell, GA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Boston-Cambridge-Newton, MA-NH Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">San Francisco–Oakland–Hayward, CA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Phoenix-Mesa-Scottsdale, AZ Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Riverside-San Bernardino-Ontario, CA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Detroit-Warren-Dearborn, MI Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Seattle-Tacoma-Bellevue, WA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Minneapolis-St. Paul-Bloomington, MN Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">San Diego-Carlsbad, CA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Tampa-St. Petersburg-Clearwater, FL Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Denver-Aurora-Lakewood, CO Realtors and Real Estate Agents</a></td>
          <td><a href="#">Buffalo-Cheektowaga-Niagara Falls, NY Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">St. Louis, MO Realtors and Real Estate Agents</a></td>
          <td><a href="#">Baltimore-Columbia-Towson, MD Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Charlotte-Concord-Gastonia, NC-SC Realtors and Real Estate Agents</a></td>
          <td><a href="#">Portland-Vancouver-Hillsboro, OR-WA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Orlando-Kissimmee-Sanford, FL Realtors and Real Estate Agents</a></td>
          <td><a href="#">San Antonio-New Braunfels, TX Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Pittsburgh, PA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Sacramento–Roseville, CA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Cincinnati, OH Realtors and Real Estate Agents</a></td>
          <td><a href="#">Las Vegas-Henderson-Paradise, NV Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Kansas City, MO-KS Realtors and Real Estate Agents</a></td>
          <td><a href="#">Cleveland, OH Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Columbus, OH Realtors and Real Estate Agents</a></td>
          <td><a href="#">Austin-Round Rock, TX Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Indianapolis-Carmel-Anderson, IN Realtors and Real Estate Agents</a></td>
          <td><a href="#">San Jose-Sunnyvale-Santa Clara, CA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Nashville-Davidson–Franklin, TN Realtors and Real Estate Agents</a></td>
          <td><a href="#">Virginia Beach-Norfolk-Newport News, VA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Providence-Warwick, RI-MA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Milwaukee-Waukesha, WI Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Jacksonville, FL Realtors and Real Estate Agents</a></td>
          <td><a href="#">Oklahoma City, OK Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Memphis, TN Realtors and Real Estate Agents</a></td>
          <td><a href="#">Louisville, KY Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Raleigh, NC Realtors and Real Estate Agents</a></td>
          <td><a href="#">Richmond, VA Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">New Orleans-Metairie, LA Realtors and Real Estate Agents</a></td>
          <td><a href="#">Hartford-West Hartford-East Hartford, CT Realtors and Real Estate Agents</a></td>
        </tr>
        <tr>
          <td><a href="#">Salt Lake City, UT Realtors and Real Estate Agents</a></td>
          <td><a href="#">Birmingham-Hoover, AL Realtors and Real Estate Agents</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render 'layouts/footer' %>
