<footer class="footer">
  <div class="container text-center">
    <p class="orange-links"><a href="/">Real Estate Agents</a> | <a href="/cities">Top 50 Real Estate Markets</a> | <a href="/states">Find Real Estate Agents By State</a></p>
    <small class="orange-links">Copyright &copy; <a href="/">Real Estate Agents</a></small>
  </div>
</footer>
