<footer class="footer">
  <div class="container">
    <small>Copyright &copy; <a href="/">Real Estate Agents</a></small>
    <ul>
      <li><a href="#">Top 50 Real Estate Markets</a></li>
      <li><a href="#">Find Real Estate Agents By State</a></li>
    </ul>
  </div>
</footer>
